.App {
  min-width      : 1024px;
  max-width      : 1024px;
  display        : flex;
  flex-direction : column;

  position       : absolute;
  top            : 50%;
  left           : 50%;
  transform      : translate(-50%, -50%);

}

.App__main {
  background-color : var(--color-gray);
  padding          : 25px 50px;
  min-height       : 60vh;
  max-height       : 60vh;
  display          : flex;
  flex-direction   : column;
}
